.spinner-container{
    padding-top: 45vh;
}
.top-bar-container{
    width: 100%;
    height: 55px;
}
.map-container{
    z-index: 0;
    margin-top: 1rem;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .info-container{
        display: flex;
        margin-top: 1rem;
        width: 100%;
        height: calc(100vh - 600px);
        .sub-info-container{
            display: flex;
            flex-direction: column;
            width: 50%;
            height: auto;
            .data-point-container{
                display: flex;
                overflow-y: scroll;
                .sub-vertical-section {
                    padding-left: 20px;
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .info-container{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: 100%;
        height: calc(100vh - 600px);
        .sub-info-container{
            display: flex;
            flex-direction: column;
            width: auto;
            height: 300px;
            margin-bottom: 10px;
            .data-point-container{
                display: flex;
                overflow-y: scroll;
                .sub-vertical-section {
                    padding-left: 20px;
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                }
            }
        }
    }
}
.custom-pie-chart-container {
    margin-left: 10px;
    margin-right: 10px;
    border: solid firebrick;
}
.set-to-flex{
    display: flex;
}
.doughnut-chart-container {
    display: flex;
    height: 100%;
}
.mortality-rate-container{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}